.input_block {
  width: 100%;
  .input {
    border: 0;
    border-radius: 16px;
    background: var(--opacity-dark-05, rgba(8, 14, 30, 0.05));
    padding: 16px 20px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.15px;
  }

  .title {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.15px;
  }
}
